form {
  width: 960px;
  padding: 20px 20px;
  margin: auto;
  border: 1px solid #c0c0cc;
  border-radius: 10px;
}

th {
  vertical-align: top;
}

td, th {
  padding: 2px 5px;
  border: 1px solid #cccccc;
}

.math {
  font-family: Times, "Times New Roman", serif;
  font-size: larger;
}

.code {
  font-family: Courier, "Courier New", Monospace;
  font-weight: bold;
}

th {
  font-size: 105%;
  font-weight: normal;
}

option {
  padding: 3pt;
}

.largebtn {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 120%;
  font-weight: bold;
  line-height: 180%;
  padding: 0px 50px;
}

.center {
  text-align: center;
}

.plot {
  margin: 20px 10px;
}

hr {
  color: #eeeeee;
  margin: 30px;
}

div.panel {
  background-color: #eeeeee;
  padding: 5px 20px;
  margin: 5px 0px 10px 0px;
  border: 3px double #e0e0e0;
  border-radius: 0px;
}

.panel-title {
  color: #000020;
  background-color: #f0f0f0;
  text-align: center;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  padding: 5px 0px;
  margin: 5px 10px 15px 10px;
  border: 2px outset #ffffff;
  border-radius: 20px;
}

.slider {
  width: 120px;
  margin-top: 5px;
  margin-right: 5px;
}

.slider_num {
  width: 40px;
}

input[type=range] {
  background-color: #ddddff;
}
